<div class="{{classes.root}}">
	{{#if _isBusy}}
		<div
			class="ui5-busy-indicator-busy-area"
			title="{{ariaTitle}}"
			tabindex="0"
			role="progressbar"
			aria-valuemin="0"
			aria-valuemax="100"
			aria-valuetext="Busy"
			aria-labelledby="{{labelId}}"
			data-sap-focus-ref
		>
			{{#if textPosition.top}}
				{{> busy-text}}
			{{/if}}
			<div class="ui5-busy-indicator-circles-wrapper">
				<div class="ui5-busy-indicator-circle circle-animation-0"></div>
				<div class="ui5-busy-indicator-circle circle-animation-1"></div>
				<div class="ui5-busy-indicator-circle circle-animation-2"></div>
			</div>
			{{#if textPosition.bottom}}
				{{> busy-text}}
			{{/if}}
		</div>
	{{/if}}
	<slot></slot>

	{{#if _isBusy}}
		<span data-ui5-focus-redirect tabindex="0" @focusin="{{_redirectFocus}}"></span>
	{{/if}}
</div>

{{#*inline "busy-text"}}
	{{#if text}}
		<ui5-label id="{{_id}}-label" class="ui5-busy-indicator-text {{classes.textPosition}}" wrapping-type="Normal">
			{{text}}
		</ui5-label>
	{{/if}}
{{/inline}}
