<ui5-responsive-popover
	id="{{_id}}-menu-rp"
	class="ui5-menu-rp"
	horizontal-align="Left"
	placement-type={{placementType}}
	vertical-align={{verticalAlign}}
	hide-arrow
	allow-target-overlap
	?sub-menu={{_isSubMenu}}
	@ui5-before-open={{_beforePopoverOpen}}
	@ui5-after-open={{_afterPopoverOpen}}
	@ui5-before-close={{_beforePopoverClose}}
	@ui5-after-close={{_afterPopoverClose}}
>
{{#if isPhone}}
	<div
		slot="header"
		class="ui5-menu-dialog-header"
	>
	{{#if isSubMenuOpened}}
		<ui5-button
			icon="nav-back"
			class="ui5-menu-back-button"
			design="Transparent"
			aria-label="{{labelBack}}"
			@click={{_navigateBack}}
		>
		</ui5-button>
	{{/if}}
		<div
			class="ui5-menu-dialog-title"
		>
			<div>
				{{menuHeaderTextPhone}}
			</div>
		</div>
		<ui5-button
			icon="decline"
			design="Transparent"
			aria-label="{{labelClose}}"
			@click={{close}}
		>
		</ui5-button>
	</div>
{{/if}}
	<div
		id="{{_id}}-menu-main"
	>
	{{#if _currentItems.length}}
		<ui5-list
			id="{{_id}}-menu-list"
			mode="None"
			?busy="{{busy}}"
			busy-delay="{{busyDelay}}"
			separators="None"
			accessible-role="menu"
			@ui5-item-click={{_itemClick}}
			@mouseover="{{_busyMouseOver}}"
		>
		{{#each _currentItems}}
			<ui5-menu-li
				.associatedItem="{{this.item}}"
				class="ui5-menu-item"
				id="{{../_id}}-menu-item-{{@index}}"
				.icon="{{this.item.icon}}"
				accessible-name={{this.item.ariaLabelledByText}}
				accessible-role="menuitem"
				.additionalText="{{this.item._additionalText}}"
				tooltip="{{this.item.tooltip}}"
				?disabled={{this.item.disabled}}
				?starts-section={{this.item.startsSection}}
				?selected={{this.item.subMenuOpened}}
				?is-phone={{../isPhone}}
				@mouseover={{../_itemMouseOver}}
				@mouseout={{../_itemMouseOut}}
				@keydown={{../_itemKeyDown}}
				@_focused={{../_onfocusin}}
			>
				<div class="ui5-menu-item-text">
				{{#if this.item.hasDummyIcon}}
					<div
						class="ui5-menu-item-dummy-icon"
					>
					</div>
				{{/if}}
				{{this.item.text}}
				{{#if this.item.hasSubmenu}}
					<div
						class="ui5-menu-item-submenu-icon"
					>
						<ui5-icon
							part="subicon"
							name="slim-arrow-right"
							class="ui5-menu-item-icon-end"
						>
						</ui5-icon>
					</div>
				{{else if this.item._siblingsWithChildren}}
					<div
						class="ui5-menu-item-no-icon-end"
					>
					</div>
				{{/if}}
				</div>
			</ui5-menu-li>
		{{/each}}
		</ui5-list>
	{{else if busy}}
		<ui5-busy-indicator
			id="{{_id}}-menu-busy-indicator"
			delay="{{busyDelay}}"
			class="ui5-menu-busy-indicator"
			@mouseover="{{_busyMouseOver}}"
			active>
		</ui5-busy-indicator>
	{{/if}}
	</div>
</ui5-responsive-popover>

<div
	class="ui5-menu-submenus"
>
</div>