:host(:not([hidden])) {
	display: inline-block;
}

:host([_is-busy]) {
	color: var(--_ui5_busy_indicator_color);
}

:host([size="Small"]) .ui5-busy-indicator-root {
	min-width: 1.625rem; /*width of the dots plus the gap between them*/
	min-height: .5rem;
}

:host([size="Small"][text]:not([text=""])) .ui5-busy-indicator-root {
	min-height: 1.75rem;
}

:host([size="Small"]) .ui5-busy-indicator-circle {
	width: .5rem;
	height: .5rem;
}

:host([size="Small"]) .ui5-busy-indicator-circle:first-child,
:host([size="Small"]) .ui5-busy-indicator-circle:nth-child(2) {
	margin-inline-end: 0.0625rem;
}

:host(:not([size])) .ui5-busy-indicator-root,
:host([size="Medium"]) .ui5-busy-indicator-root {
	min-width: 3.375rem; /*width of the dots plus the gap between them*/
	min-height: 1rem;
}

:host([size="Medium"]) .ui5-busy-indicator-circle:first-child,
:host([size="Medium"]) .ui5-busy-indicator-circle:nth-child(2) {
	margin-inline-end: 0.1875rem;
}

:host(:not([size])[text]:not([text=""])) .ui5-busy-indicator-root,
:host([size="Medium"][text]:not([text=""])) .ui5-busy-indicator-root {
	min-height: 2.25rem;
}

:host(:not([size])) .ui5-busy-indicator-circle,
:host([size="Medium"])  .ui5-busy-indicator-circle {
	width: 1rem;
	height: 1rem;
}

:host([size="Large"]) .ui5-busy-indicator-root {
	min-width: 6.5rem; /*width of the dots plus the gap between them*/
	min-height: 2rem;
}

:host([size="Large"]) .ui5-busy-indicator-circle:first-child,
:host([size="Large"]) .ui5-busy-indicator-circle:nth-child(2) {
	margin-inline-end: 0.25rem;
}

:host([size="Large"][text]:not([text=""])) .ui5-busy-indicator-root {
	min-height: 3.25rem;
}

:host([size="Large"]) .ui5-busy-indicator-circle {
	width: 2rem;
	height: 2rem;
}

.ui5-busy-indicator-root {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: inherit;
	height: inherit;
}

.ui5-busy-indicator-busy-area {
	position: absolute;
	z-index: 99;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: inherit;
	flex-direction: column;
}

.ui5-busy-indicator-busy-area:focus {
	outline: var(--_ui5_busy_indicator_focus_outline);
	outline-offset: -2px;
    border-radius: var(--_ui5_busy_indicator_focus_border_radius);
}

.ui5-busy-indicator-circles-wrapper {
	line-height: 0;
}

.ui5-busy-indicator-circle {
	display: inline-block;
	background-color: currentColor;
	border-radius: 50%;
}

.ui5-busy-indicator-circle::before {
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

.circle-animation-0 {
	animation: grow 1.6s infinite cubic-bezier(0.32, 0.06, 0.85, 1.11);
}

.circle-animation-1 {
	animation: grow 1.6s infinite cubic-bezier(0.32, 0.06, 0.85, 1.11);
	animation-delay: 200ms;
}

.circle-animation-2 {
	animation: grow 1.6s infinite cubic-bezier(0.32, 0.06, 0.85, 1.11);
	animation-delay: 400ms;
}

.ui5-busy-indicator-text {
	width: 100%;
	text-align: center;
}

.ui5-busy-indicator-text-placement-top {
	margin-bottom: 0.5rem
}

.ui5-busy-indicator-text-placement-bottom {
	margin-top: 0.5rem;
}

@keyframes grow {
	0%, 50%, 100% {
		-webkit-transform: scale(0.5);
		-moz-transform: scale(0.5);
		transform: scale(0.5);
	}
	25% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);   
		transform: scale(1);
	}
}
