ui5-side-navigation {
    height: 600px;
}

ui5-shellbar::part(root) {
    padding-inline-start: 0.75rem;
    padding-inline-end: 1.25rem;
    border-radius: 0.5rem;
    box-shadow:
        0 0 0.125rem 0 color-mix(in srgb, var(--sapContent_ShadowColor) 16%, transparent),
        0 0.5rem 1rem 0 color-mix(in srgb, var(--sapContent_ShadowColor) 16%, transparent);
}

.tool-layout {
    padding: 0.5rem 0.5rem 0 0.5rem;
    background: color-mix(in srgb, black 4%, var(--sapBackgroundColor));
    display: grid;
    gap: 0.5rem;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
}

.tool-layout > * {
    z-index: 1;
}

ui5-shellbar {
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
}

ui5-side-navigation {
    border-radius: 0.5rem 0.5rem 0 0.5rem;
}

.content {
    background: var(--sapBackgroundColor);
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow:
        0 0 0.125rem 0 color-mix(in srgb, var(--sapContent_ShadowColor) 16%, transparent),
        0 0.5rem 1rem 0 color-mix(in srgb, var(--sapContent_ShadowColor) 16%, transparent);
}